hi:
  comment: hi @{{ author }}

wow:
  comment: wow {{ args.0 }}, and the command args is {{ input }}
  reactions: ['+1']

heated:
  lock: true
  lockReason: too heated
  reactions: ['eyes', 'heart']
  comment: The thread has been temporarily locked.
unheated:
  unlock: true

label:
  label:
    - static-label
    - 'label-1 label-2'
    - '{{ args.0 }}'
    - '{{ args.1 }}'
    - '{{ args.2 }}'
unlabel:
  label: -static-label
relabel:
  label:
    # Remove all labels
    - '-*'
    # add label from args
    - '{{ input }}'

handover:
  assign:
    - '-*'
    - '{{ input }}'
assign:
  assign:
    - Jhon
    - '{{ input }}'

issues:
  pin:
    pin: true

  unpin:
    unpin: true

  feature:
    close: true
    comment: >
      :wave: @{{ author }}, please use our idea board to request new features.


  needs-more-info:
    close: true
    comment: >
      @{{ author }}

      In order to communicate effectively, we have a certain format requirement for the issue, your issue is automatically closed because there is no recurring step or reproducible warehouse, and will be REOPEN after the offer.


pulls:
  hello:
    comment: hello {{ raw }}
